## Practice Datacamp: Data Manipulation with pandas

## Python Practice Aug 3rd, 2025

In [2]:
import numpy as np
import pandas as pd

### remind about the range()

In [3]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

## Loading Netflix Data

In [4]:
import os
print(os.getcwd())

/Users/auroraxiao/Desktop/Data Science Project/DS-Projects

In [5]:
## loading data from a csv file
netflix_data = pd.read_csv('/Users/auroraxiao/Desktop/Data Science Project/Data/netflix_data.csv')
print(netflix_data.head())

  show_id     type  title           director  \
0      s2    Movie   7:19  Jorge Michel Grau
1      s3    Movie  23:59       Gilbert Chan
2      s4    Movie      9        Shane Acker
3      s5    Movie     21     Robert Luketic
4      s6  TV Show     46        Serdar Akar

                                                cast        country  \
0  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
1  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
2  Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
3  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States
4  Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...         Turkey

          date_added  release_year  duration  \
0  December 23, 2016          2016        93
1  December 20, 2018          2011        78
2  November 16, 2017          2009        80
3    January 1, 2020          2008       123
4       July 1, 2017          2016         1

                                         description             genre
0  After a devastating earthquake hits Mexico Cit...            Dramas
1  When an army recruit is found dead, his fellow...     Horror Movies
2  In a postapocalyptic world, rag-doll robots hi...            Action
3  A brilliant group of students become card-coun...            Dramas
4  A genetics professor experiments with a treatm...  International TV

In [6]:
## return the first 5 rows of the dataframe
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV

In [7]:
## return the columns, non-null counts, and data types of the dataframe
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4812 non-null   object
 1   type          4812 non-null   object
 2   title         4812 non-null   object
 3   director      4812 non-null   object
 4   cast          4812 non-null   object
 5   country       4812 non-null   object
 6   date_added    4812 non-null   object
 7   release_year  4812 non-null   int64
 8   duration      4812 non-null   int64
 9   description   4812 non-null   object
 10  genre         4812 non-null   object
dtypes: int64(2), object(9)
memory usage: 413.7+ KB

In [8]:
## print out shape of the dataframe with total 4812 rows and 11 columns
netflix_data.shape

(4812, 11)

In [9]:
## explore the dataframe to print out some aggregate values of each column (only int64 columns)
netflix_data.describe()

       release_year     duration
count   4812.000000  4812.000000
mean    2012.711554    99.566708
std        9.517978    30.889305
min     1942.000000     1.000000
25%     2011.000000    88.000000
50%     2016.000000    99.000000
75%     2018.000000   116.000000
max     2021.000000   253.000000

In [10]:
## output the rows of the dataframe
## it would return the ndarry
print(netflix_data.values)

[['s2' 'Movie' '7:19' ... 93
  'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.'
  'Dramas']
 ['s3' 'Movie' '23:59' ... 78
  "When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp."
  'Horror Movies']
 ['s4' 'Movie' '9' ... 80
  'In a postapocalyptic world, rag-doll robots hide in fear from dangerous machines out to exterminate them, until a brave newcomer joins the group.'
  'Action']
 ...
 ['s7782' 'Movie' 'Zoom' ... 88
  'Dragged from civilian life, a former superhero must train a new crop of youthful saviors when the military preps for an attack by a familiar villain.'
  'Children']
 ['s7783' 'Movie' 'Zozo' ... 99
  "When Lebanon's Civil War deprives Zozo of his family, he's left with grief and little means as he escapes to Sweden in search of his grandparents."
  'Dramas']
 ['s7784' 'Movie' 'Zubaan' ... 111
  "A scrappy but poor boy worms his way into a tycoon's dysfunctional family, while facing his fear of music and the truth about his past."
  'Dramas']]

In [11]:
## output the columns of the dataframe having the data type of object
print(netflix_data.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'duration', 'description', 'genre'],
      dtype='object')

In [12]:
## return the index of the dataframe
print(netflix_data.index)

RangeIndex(start=0, stop=4812, step=1)

In [13]:
## set the index to the column 'show_id' h
netflix_data.set_index('show_id', inplace=True)
print(netflix_data.head())

            type  title           director  \
show_id
s2         Movie   7:19  Jorge Michel Grau
s3         Movie  23:59       Gilbert Chan
s4         Movie      9        Shane Acker
s5         Movie     21     Robert Luketic
s6       TV Show     46        Serdar Akar

                                                      cast        country  \
show_id
s2       Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
s3       Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
s4       Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
s5       Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States
s6       Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...         Turkey

                date_added  release_year  duration  \
show_id
s2       December 23, 2016          2016        93
s3       December 20, 2018          2011        78
s4       November 16, 2017          2009        80
s5         January 1, 2020          2008       123
s6            July 1, 2017          2016         1

                                               description             genre
show_id
s2       After a devastating earthquake hits Mexico Cit...            Dramas
s3       When an army recruit is found dead, his fellow...     Horror Movies
s4       In a postapocalyptic world, rag-doll robots hi...            Action
s5       A brilliant group of students become card-coun...            Dramas
s6       A genetics professor experiments with a treatm...  International TV

In [14]:
## subsetting the dataframe with only one column, genre
netflix_data['genre']

show_id
s2                 Dramas
s3          Horror Movies
s4                 Action
s5                 Dramas
s6       International TV
               ...
s7779            Comedies
s7781              Dramas
s7782            Children
s7783              Dramas
s7784              Dramas
Name: genre, Length: 4812, dtype: object

In [15]:
## sorting the dataframe by singel column, release_year
netflix_data.sort_values(by = 'release_year', ascending = False)

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s1286,Movie,Charming,Ross Venokur,"Wilmer Valderrama, Demi Lovato, Sia, Nia Varda...",Canada,"January 8, 2021",2021,85,"On the eve of his 21st birthday, an adored pri...",Children
s7552,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,102,"With the peak of his career long behind him, a...",Comedies
s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,32,"In this delightful short documentary, an Itali...",Documentaries
s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,2,A boy suddenly orphaned fights his parents' ki...,Anime Series
s1343,Movie,Chippa,Safdar Rahman,"Sunny Pawar, Chandan Roy Sanyal, Gautam Sarkar...",India,"June 1, 2020",2020,92,"At midnight on his 10th birthday, a boy scours...",Comedies
...,...,...,...,...,...,...,...,...,...,...
s7073,Movie,Thunderbolt,"William Wyler, John Sturges","James Stewart, Lloyd Bridges",United States,"March 31, 2017",1947,42,A P-47 Thunderbolt squadron is shown in prepar...,Classic Movies
s3609,Movie,Let There Be Light,John Huston,Walter Huston,United States,"March 31, 2017",1946,58,Some returning combat veterans suffer scars th...,Classic Movies
s3426,Movie,Know Your Enemy - Japan,"Frank Capra, Joris Ivens","Walter Huston, Dana Andrews",United States,"March 31, 2017",1945,63,Though culturally insensitive by modern standa...,Classic Movies
s7269,Movie,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,United States,"March 31, 2017",1944,76,British and American troops join forces to lib...,Classic Movies
s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,18,Director John Ford captures combat footage of ...,Classic Movies

In [16]:
netflix_data.sort_values(by = ['release_year', 'duration'], ascending = [False, False])
## sorting the dataframe by multiple columns, release_year and duration
## ascending = [False, False] means both columns are sorted in descending order

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s7552,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,102,"With the peak of his career long behind him, a...",Comedies
s1286,Movie,Charming,Ross Venokur,"Wilmer Valderrama, Demi Lovato, Sia, Nia Varda...",Canada,"January 8, 2021",2021,85,"On the eve of his 21st birthday, an adored pri...",Children
s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,32,"In this delightful short documentary, an Itali...",Documentaries
s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,2,A boy suddenly orphaned fights his parents' ki...,Anime Series
s7320,Movie,Unbreakable Kimmy Schmidt: Kimmy vs. the Reverend,Claire Scanlon,"Ellie Kemper, Jane Krakowski, Tituss Burgess, ...",United States,"May 12, 2020",2020,190,It's an interactive Kimmy special! Kimmy's get...,Comedies
...,...,...,...,...,...,...,...,...,...,...
s7073,Movie,Thunderbolt,"William Wyler, John Sturges","James Stewart, Lloyd Bridges",United States,"March 31, 2017",1947,42,A P-47 Thunderbolt squadron is shown in prepar...,Classic Movies
s3609,Movie,Let There Be Light,John Huston,Walter Huston,United States,"March 31, 2017",1946,58,Some returning combat veterans suffer scars th...,Classic Movies
s3426,Movie,Know Your Enemy - Japan,"Frank Capra, Joris Ivens","Walter Huston, Dana Andrews",United States,"March 31, 2017",1945,63,Though culturally insensitive by modern standa...,Classic Movies
s7269,Movie,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,United States,"March 31, 2017",1944,76,British and American troops join forces to lib...,Classic Movies
s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,18,Director John Ford captures combat footage of ...,Classic Movies

In [17]:
## return netflix_data released from 1990 to 1999
netflix_data[netflix_data['release_year'].between(1990, 1999)] 
## there is a parameter called inclusive, such as "neither", "both", "left", "right"

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,119,After one of his high school students attacks ...,Dramas
s167,Movie,A Dangerous Woman,Stephen Gyllenhaal,"Debra Winger, Barbara Hershey, Gabriel Byrne, ...",United States,"April 1, 2018",1993,101,At the center of this engrossing melodrama is ...,Dramas
s211,Movie,A Night at the Roxbury,John Fortenberry,"Will Ferrell, Chris Kattan, Dan Hedaya, Molly ...",United States,"December 1, 2019",1998,82,"After a run-in with Richard Grieco, dimwits Do...",Comedies
s239,Movie,A Thin Line Between Love & Hate,Martin Lawrence,"Martin Lawrence, Lynn Whitfield, Regina King, ...",United States,"December 1, 2020",1996,108,When a philandering club promoter sets out to ...,Comedies
s274,Movie,Aashik Awara,Umesh Mehra,"Saif Ali Khan, Mamta Kulkarni, Mohnish Bahl, S...",India,"June 1, 2017",1993,154,"Raised by a kindly thief, orphaned Jimmy goes ...",Dramas
...,...,...,...,...,...,...,...,...,...,...
s7536,Movie,West Beirut,Ziad Doueiri,"Rami Doueiri, Mohamad Chamas, Rola Al Amin, Ca...",France,"October 19, 2020",1999,106,Three intrepid teens roam the streets of Beiru...,Dramas
s7571,Movie,What's Eating Gilbert Grape,Lasse Hallström,"Johnny Depp, Leonardo DiCaprio, Juliette Lewis...",United States,"January 1, 2021",1993,118,"In a backwater Iowa town, young Gilbert is tor...",Classic Movies
s7624,Movie,Wild Wild West,Barry Sonnenfeld,"Will Smith, Kevin Kline, Kenneth Branagh, Salm...",United States,"January 1, 2020",1999,106,"Armed with an ingenious arsenal, two top-notch...",Action
s7682,Movie,Wyatt Earp,Lawrence Kasdan,"Kevin Costner, Dennis Quaid, Gene Hackman, Dav...",United States,"January 1, 2020",1994,191,Legendary lawman Wyatt Earp is continually at ...,Action
s7695,Movie,Yaar Gaddar,Umesh Mehra,"Mithun Chakraborty, Saif Ali Khan, Somy Ali, P...",India,"July 1, 2017",1994,148,When his brother becomes involved in a deadly ...,Dramas

In [21]:
netflix_data[(netflix_data['release_year']>=1990) & (netflix_data['release_year'] <= 1999)]
             ## another way to return netflix_data released from 1990 to 1999

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,119,After one of his high school students attacks ...,Dramas
s167,Movie,A Dangerous Woman,Stephen Gyllenhaal,"Debra Winger, Barbara Hershey, Gabriel Byrne, ...",United States,"April 1, 2018",1993,101,At the center of this engrossing melodrama is ...,Dramas
s211,Movie,A Night at the Roxbury,John Fortenberry,"Will Ferrell, Chris Kattan, Dan Hedaya, Molly ...",United States,"December 1, 2019",1998,82,"After a run-in with Richard Grieco, dimwits Do...",Comedies
s239,Movie,A Thin Line Between Love & Hate,Martin Lawrence,"Martin Lawrence, Lynn Whitfield, Regina King, ...",United States,"December 1, 2020",1996,108,When a philandering club promoter sets out to ...,Comedies
s274,Movie,Aashik Awara,Umesh Mehra,"Saif Ali Khan, Mamta Kulkarni, Mohnish Bahl, S...",India,"June 1, 2017",1993,154,"Raised by a kindly thief, orphaned Jimmy goes ...",Dramas
...,...,...,...,...,...,...,...,...,...,...
s7536,Movie,West Beirut,Ziad Doueiri,"Rami Doueiri, Mohamad Chamas, Rola Al Amin, Ca...",France,"October 19, 2020",1999,106,Three intrepid teens roam the streets of Beiru...,Dramas
s7571,Movie,What's Eating Gilbert Grape,Lasse Hallström,"Johnny Depp, Leonardo DiCaprio, Juliette Lewis...",United States,"January 1, 2021",1993,118,"In a backwater Iowa town, young Gilbert is tor...",Classic Movies
s7624,Movie,Wild Wild West,Barry Sonnenfeld,"Will Smith, Kevin Kline, Kenneth Branagh, Salm...",United States,"January 1, 2020",1999,106,"Armed with an ingenious arsenal, two top-notch...",Action
s7682,Movie,Wyatt Earp,Lawrence Kasdan,"Kevin Costner, Dennis Quaid, Gene Hackman, Dav...",United States,"January 1, 2020",1994,191,Legendary lawman Wyatt Earp is continually at ...,Action
s7695,Movie,Yaar Gaddar,Umesh Mehra,"Mithun Chakraborty, Saif Ali Khan, Somy Ali, P...",India,"July 1, 2017",1994,148,When his brother becomes involved in a deadly ...,Dramas

In [23]:
## Adding a new column to the dataframe called years_from_2025
netflix_data['years_from_2025'] = 2025 - netflix_data['release_year']

In [24]:
netflix_data.head()

,type,title,director,cast,country,date_added,release_year,duration,description,genre,years_from_2025
show_id,,,,,,,,,,,
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,9
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,14
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,16
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas,17
s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV,9

In [43]:
netflix_data['release_year'].agg(['min', 'max', 'mean', 'median', 'var', 'std', 'sum'])

min       1.942000e+03
max       2.021000e+03
mean      2.012712e+03
median    2.016000e+03
var       9.059190e+01
std       9.517978e+00
sum       9.685168e+06
Name: release_year, dtype: float64